*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}
body{
    width: 100%;
    background-color: #f0f2f5;
}
#box{
    background-color: #fff;
    position: absolute;    
    width: 320px;
    height: 290px;
    padding: 10px 5px 20px 5px;
    margin: -10vh 850px;
    border-radius: 5px;
    box-shadow: 5px 5px 6px -7px;
}
input[type='text'], input[type='password']{
    display: block;
    background-color: #fff;
    margin: auto;
    border: 1.5px solid rgb(200, 200, 200);
    width: 200px;
    padding: 10px 40px;
    border-radius: 5px;
    text-align: center;
    color: black;
    font-family: 'Segoe UI';
    font-size: 15px;
}
#LogIn{
    border: none;
    background-color: #1877f2;
    color: white;
    margin: auto;
    width: 283px;
    display: block;
    border-radius: 5px;
    padding: 10px 0;
    font-weight: bold;
    cursor: pointer;
}
#forgot{
    display: block;
    width: 200px;
    margin: auto;
    color: #1877f2;
    padding-left: 80px;
    font-family: "Segoe UI";
    font-weight: 400;
}
#line{
    border-top: 1px solid #222;
    opacity: 0.2;
}
#btn2{
    width: 180px;
    font-size: 14px;
    background-color: #42b72a;
    text-align: center;
    border: none;
    color: white;
    margin: auto;
    display: block;
    border-radius: 5px;
    padding: 10px 0;
    font-weight: bold;
    cursor: pointer;
}
#links h3{
    width: 270px;
    position: relative;
    color: black;
    font-family: "Segoe UI" , Arial;
    padding: 130px 890px;
    font-size: 12px;
    font-weight: 600;
    display: block;
}
#links h3 a{
    color: black;
    font-weight: bold;
    font-size: 13px;
}
#logo{
    width: 400px;
    margin-left: 300px;
    font-weight: lighter;
    margin-top: 30vh;
    font-family: "Segoe UI" , Roboto , "San Francisco";
}
#logo img{
    width: 250px;
}
p{
    font-size: 24px;
    font-weight: 600;
    word-spacing: 3px;
}

#bottom{
    width: auto;
    height: auto;    
    background-color: white;

}
#more{
    width: 30px;
    height: 20px;
    font-size: 15px;
    background-color: #f5f6f7;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    color: #686f7d;
    box-shadow: none;
    border-color: #dbdee1;
}
#link{
    color: #385898;
    margin: 10px;
    font-size: 13px;
}
#link:hover{
    text-decoration: underline;
}
#centerbox{
    width: 66%;
    text-align: justify;
}
#Author{
    color: #737373;
    font-size: 13px;
}

#Email , #Password{
    text-align: left;
}

#googol{
    float: left;
    background-color: #4f5355;
    box-shadow: 7px 7px 8px -9px black;
    text-align: center;
    width: 45px;
    height: 35px;
    border-radius: 3px;
    font-weight: bold;
    color: #686f7d;
}
#Nextpg{
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    cursor: pointer;
    position: relative;
    padding: 7px;
}
#tooltip{
    position: absolute;
    left: 140px;
    bottom: 64.5%;
    visibility: visible;
    transform: translateX(-50%);
    background-color: #4f5355;
    color: #fff;
    white-space: nowrap;
    padding: 10px 15px;
    border-radius: 7px;
    opacity: 0;
    transition: opacity 0.5s ease;
}
#tooltip::before{
    content: "";
    position: absolute;
    left: -33px;
    bottom: 1px;
    border: 18px solid;
    border-color: #0000 #4f5355 #0000 #0000;
}
#googol:hover #tooltip{
    visibility: visible;
    opacity: 1;
}